{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <body>
        <p class = "text">
            The Boston Vegan was created by vegans for vegans to highlight some of the tastiest restaurants around Boston
            that offer a wide array of vegan items.
        </p>
        <p class = "text">
            Of course, this eater's guide is meant to be used by everyone. Our hope is to share the yummiest finds both so
            that vegans may have a stress-free culinary exploration experience
            and so that non-vegans may realize that a plant-based diet does not mean sacrificing flavor!
        </p>
        <p class = "text">
            This website is brought to you by Klara and Dorina who have spent the last years exploring and sampling their way
            through the greater-Boston area to bring you a compilation of their favorite finds
            and the opportunity for you to add your opinions to that list! We hope you enjoy :)
        </p>
    </body>

{% endblock %}
