{% extends "layout.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Restaurant</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
                {% for row in restaurants %}
                <tr>
                    <td><a href= "https://klarakuemmerle-code50-90167747-jj7w654xg25rp4-5000.githubpreview.dev/{{row.restaurant}}">{{ row.restaurant }}</a></td>
                    <td>{{ row.address }}</td>
                    <td>{{ row.rating }}</td
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
